<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<div id="users">
  <div>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <%= link_to "Transactions", user_transactions_path(@user), class: "btn btn-primary" %>
  </div>
</div>