<% content_for :title, "New transaction" %>

<p style="color: red"><%= notice %></p>

<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Back to transactions", polymorphic_path([@parent, :transactions]), class: "btn btn-secondary" %>
</div>
